/* Write your CSS here */
.each-transaction-detail-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  border-left: 1px solid #cbd5e1;
  border-right: 1px solid #cbd5e1;
  border-bottom: 1px solid #cbd5e1;
  padding-left: 12px;
  padding-right: 12px;
}

.transaction-text {
  color: #7e858e;
  font-family: 'Roboto';
  font-size: 12px;
  width: 30%;
}

.delete-button-container {
  background-color: transparent;
  border: 0px;
}

.delete-image {
  width: 25px;
  height: 25px;
}
.hr-line {
  margin: 0px;
  height: 40px;
  margin-right: 40px;
}
